<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="p-5 text-center bg-body-tertiary rounded-3" id="box-one">
      <h1 class="text-body-emphasis"></h1>
      <p class="col-lg-6 mx-auto text-muted">扫描用户总数</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="p-5 text-center bg-body-tertiary rounded-3" id="box-two">
      <h1 class="text-body-emphasis"></h1>
      <p class="col-lg-6 mx-auto text-muted">扁平足人数</p>
    </div>
  </div>
</div>
