<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="p-5 text-center bg-body-tertiary rounded-3" id="box-one">
      <h2 class="text-body-emphasis">扫描用户总数:</h2>
      <p class="col-lg-8 mx-auto fs-5 text-muted">(DATA CONTENT)</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="p-5 text-center bg-body-tertiary rounded-3" id="box-two">
      <h2 class="text-body-emphasis">扁平足人数：</h2>
      <p class="col-lg-8 mx-auto fs-5 text-muted">(DATA CONTENT)</p>
    </div>
  </div>
</div>
